<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WCFTestingTool.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WCFTestingTool.Settings>
            <setting name="ProxyAssemblyPath" serializeAs="String">
                <value>C:\Windows\Temp\TempProxy.dll</value>
            </setting>
            <setting name="SvcCmdParameter" serializeAs="String">
                <value>/directory:C:\Windows\Temp /out:TempProxy.cs /config:app.config</value>
            </setting>
            <setting name="SvcUtilFilePath" serializeAs="String">
                <value>C:\Program Files\Microsoft SDKs\Windows\v7.0A\bin\SvcUtil.exe</value>
            </setting>
            <setting name="CscCmdParameter" serializeAs="String">
                <value> /t:library /out:C:\Windows\Temp\TempProxy.dll  C:\Windows\Temp\TempProxy.cs</value>
            </setting>
            <setting name="CscFilePath" serializeAs="String">
                <value>C:\WINDOWS\Microsoft.NET\Framework\v3.5\csc.exe</value>
            </setting>
            <setting name="BaseServiceClassName" serializeAs="String">
                <value>System.ServiceModel.ClientBase`1</value>
            </setting>
            <setting name="CreateChannel" serializeAs="String">
                <value>CreateChannel</value>
            </setting>
            <setting name="Client" serializeAs="String">
                <value>Client</value>
            </setting>
            <setting name="ProxyClassPath" serializeAs="String">
                <value>C:\Windows\Temp\TempProxy.cs</value>
            </setting>
            <setting name="ConfigFileFilter" serializeAs="String">
                <value>Data Sources (*.config, *.xml)|*.config*;*.xml|All Files|*.*</value>
            </setting>
            <setting name="ConfigFileExt" serializeAs="String">
                <value>.config</value>
            </setting>
            <setting name="ConfigFilePath" serializeAs="String">
                <value>C:\Windows\Temp\app.config</value>
            </setting>
            <setting name="MethodLoadedSuccess" serializeAs="String">
                <value>Methods have been loaded successfully. Please select any method to run.</value>
            </setting>
            <setting name="GeneratingProxyFail" serializeAs="String">
                <value>Error while generating proxy or loading methods. May be the service is not runing at the given end point address.</value>
            </setting>
            <setting name="FindingService" serializeAs="String">
                <value>Finding the service please wait...</value>
            </setting>
            <setting name="EmptyString" serializeAs="String">
                <value/>
            </setting>
            <setting name="ServiceFound" serializeAs="String">
                <value>Service found.</value>
            </setting>
            <setting name="Type" serializeAs="String">
                <value>Type</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="Value" serializeAs="String">
                <value>Value</value>
            </setting>
            <setting name="ExtensionDataObject" serializeAs="String">
                <value>System.Runtime.Serialization.ExtensionDataObject</value>
            </setting>
            <setting name="ExtensionDataField" serializeAs="String">
                <value>extensionDataField</value>
            </setting>
            <setting name="LoadingMethodWait" serializeAs="String">
                <value>Loading the methods please wait...</value>
            </setting>
        </WCFTestingTool.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
